Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

docker-build-client:
  name: Docker - build client
  entry: bash -c 'docker build client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
  language: system
  pass_filenames: false
  stages:
  - push

feat: added title and description to api and db
  .gitignore
  Makefile
  client/js/controllers/post_main_controller.js
  client/js/models/post.js
  doc/developer-utils/create-alembic-migration.sh
  docker-compose.local.yml
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/0c149800a728_add_title_add_desc_to_posts.py
  server/szurubooru/model/post.py
Due: docker-build-client, docker-build-server, pytest

chore: wip
  client/Dockerfile
  client/html/post_edit_sidebar.tpl
  client/html/post_readonly_sidebar.tpl
  client/html/posts_page.tpl
  client/js/controllers/post_list_controller.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/models/post.js
  docker-compose.yml
  rebuild-and-run.sh
  server/.ash_history
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server, pytest

chore: remove unneeded file
  server/.ash_history
Due: docker-build-server

fix: infra improvements
  Makefile
  client/Dockerfile
  doc/example.env
  docker-compose.local.yml
  docker-compose.yml
  server/Dockerfile
Due: docker-build-client, docker-build-server

feat: group tags by category
  Makefile
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

feat: group tags by category on post view (#3)
  Makefile
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

feat: improved pools ui
  .tool-versions
  Makefile
  client/css/pool-list-view.styl
  client/html/pools_page.tpl
  client/js/util/misc.js
  client/package.json
  docker-compose.dev.yml
Due: docker-build-client

client+server/docker: add .psd support
  .gitignore
  README.md
  client/html/post_content.tpl
  client/html/post_readonly_sidebar.tpl
  client/js/views/post_upload_view.js
  server/Dockerfile
  server/requirements.txt
  server/szurubooru/func/images.py
  server/szurubooru/func/mime.py
Due: docker-build-client, docker-build-server, pytest

doc: use docker compose instead of docker-compose
  doc/INSTALL.md
  docker-compose.yml
Due: none

chore: questionable is not a recognized rating
  doc/API.md
Due: none

server: add privilege posts:view:unsafe
  server/config.yaml.dist
  server/szurubooru/api/post_api.py
  server/szurubooru/tests/api/test_post_retrieving.py
Due: docker-build-server, pytest

server: add privilege posts:list:unsafe, filter unsafe posts for users without privilege
  server/config.yaml.dist
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/tests/search/configs/test_post_search_config.py
Due: docker-build-server, pytest

server: fix tests for unsafe posts
  server/szurubooru/tests/api/test_post_retrieving.py
  server/szurubooru/tests/search/configs/test_post_search_config.py
  server/szurubooru/tests/search/test_executor.py
Due: docker-build-server, pytest

Use uv as python package manager
  server/.dockerignore
  server/.python-version
  server/Dockerfile
  server/dev-requirements.txt
  server/docker-start.sh
  server/pyproject.toml
  server/requirements.txt
  server/uv.lock
Due: docker-build-server

Maybe fix testing image, not optimized.
  server/Dockerfile
  server/uv.lock
Due: docker-build-server

deps: pin heif-image-plugin to version 0.5.1
  server/Dockerfile
  server/requirements.txt
Due: docker-build-server

server/deps: remove pillow-avif-plugin package
  server/Dockerfile
  server/requirements.txt
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

build: setup docker-compose.dev.yml dev iteration
  client/.dockerignore
  client/Dockerfile
  client/docker-start-dev.sh
  client/docker-start.sh
  docker-compose.dev.yml
  server/Dockerfile
  server/docker-start-dev.sh
Due: docker-build-client, docker-build-server

build: setup docker-compose.dev.yml dev iteration
  client/.dockerignore
  client/Dockerfile
  client/build.js
  client/docker-start-dev.sh
  client/docker-start.sh
  client/js/main.js
  docker-compose.dev.yml
  server/Dockerfile
  server/docker-start-dev.sh
Due: docker-build-client, docker-build-server

server/rest: unescape percent-encoded route parameters for routes that address things by name instead of ID, e.g. /tag/tagname, where we allow special characters, we need to unescape the values.
  server/szurubooru/rest/app.py
Due: docker-build-server, pytest

server/snapshots: treat invalid users as anonymous Fixes the crash described in #682 Untested so there may be other unaddressed issues with creating new tags on an existing post.
  server/szurubooru/func/snapshots.py
Due: docker-build-server, pytest

server/tags: prevent creation of "." and ".." tags cf. #521 Previously this check was only done on the client. The API operates on tag slugs, and these special strings cause issues with web servers.
  server/szurubooru/func/tags.py
Due: docker-build-server, pytest

server: properly enforce validation regex cf. #669 Previously it would incorrectly allow strings with a trailing newline. >>> re.match(r"^\S+$", "test\n") <re.Match object; span=(0, 4), match='test'>
  server/szurubooru/func/pool_categories.py
  server/szurubooru/func/pools.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/func/tags.py
  server/szurubooru/func/users.py
  server/szurubooru/func/util.py
  server/szurubooru/search/parser.py
Due: docker-build-server, pytest

server/images: use mozjpeg/libjpeg-turbo for jpeg conversion
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

client/upload: remove duplicate id
  client/html/post_upload_row.tpl
Due: docker-build-client

client/upload: preview video time that will be used for final thumbnail
  client/js/views/post_upload_view.js
Due: docker-build-client

server/images: use white background for non-transparent images
  server/szurubooru/func/images.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

client/css: prevent thumbnail dragging, fix ff upload thumbnail outline
  client/css/core-general.styl
  client/css/post-upload.styl
  client/js/util/views.js
Due: docker-build-client

server/rest: allow files with empty content
  server/szurubooru/rest/context.py
Due: docker-build-server, pytest

server/posts: fix custom thumbnails
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

client/posts: use original thumbnail for video poster
  client/html/post_content.tpl
Due: docker-build-client

client/posts: thumbnail as video poster
  client/html/post_content.tpl
Due: docker-build-client

client/posts: prioritize main image load
  client/html/post_content.tpl
Due: docker-build-client

client/css: fix overextended broken thumbnail
  client/css/core-general.styl
Due: docker-build-client

client/posts: more robust fallbacks on error Fallback cascade: original content, thumbnail, transparency grid Implementation is very ugly but handles all cases nicely.
  client/css/post-content-control.styl
  client/js/controls/post_content_control.js
Due: docker-build-client

server/posts: fix source file deletion
  server/szurubooru/func/files.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

client/upload: fix empty thumbnail size
  client/css/post-upload.styl
Due: docker-build-client

client/posts: display first video frame when available
  client/html/post_content.tpl
Due: docker-build-client

client, server: rework custom thumbnails Saving custom thumbnails separately allows us to display them in search results etc while also displaying a thumbnail of the final content during loading.
  client/html/post_content.tpl
  client/js/controllers/comments_controller.js
  client/js/controllers/post_list_controller.js
  client/js/controls/post_content_control.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/models/post.js
  server/szurubooru/func/files.py
  server/szurubooru/func/images.py
  server/szurubooru/func/posts.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-client, docker-build-server, pytest

client/posts: display thumbnail while original image is loading
  client/js/controls/post_content_control.js
Due: docker-build-client

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
  pytest: any of: server/szurubooru/ and \.py$ and not (server/szurubooru/migrations/) and not (LICENSE.md)
