Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

docker-build-client:
  name: Docker - build client
  entry: bash -c 'docker build client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
  language: system
  pass_filenames: false
  stages:
  - push

client/api: set json mime type for metadata
  client/js/api.js
Due: docker-build-client

client/api: don't call progress.done() on noProgress requests It would cause the progress bar to disappear completely, and not render anymore after any noProgress request.
  client/js/api.js
Due: docker-build-client

client/posts: preload nearby posts for snappier browsing
  client/js/controllers/post_main_controller.js
  client/js/models/post.js
  client/js/models/post_list.js
  client/js/util/misc.js
Due: docker-build-client

server/posts: reorder content upload code, tolerate duplicate checksums cf. #539
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

client/css: text input focus outline
  client/css/core-forms.styl
Due: docker-build-client

client/css: dark theme comment styling
  client/css/comment-control.styl
Due: docker-build-client

client/css: focused active tab styling
  client/css/core-general.styl
Due: docker-build-client

client/posts: skip thumbnail placeholder if fullsize image is in cache
  client/js/controls/post_content_control.js
  client/js/util/misc.js
  client/js/views/home_view.js
  client/js/views/post_main_view.js
Due: docker-build-client

server/favorites: fix typing user can never be None, we do an assert here and everywhere else this function is called.
  server/szurubooru/func/favorites.py
Due: docker-build-server, pytest

server/posts: early return in own favorite serialization
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

client/tags: quicker access to the tagged posts Based on #656, plus escaping.
  client/html/tags_page.tpl
  client/js/util/views.js
Due: docker-build-client

client: update stylus for :has support
  client/package-lock.json
  client/package.json
Due: docker-build-client

server: fix incorrect values being used
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: add missing None argument
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: izip doesnt exist anymore
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: slightly better way of prev/next
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: rename incorrect flag
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: fix small typo
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: poolpost nearby implementation
  doc/API.md
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: add none check
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: better iterable logic
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

client: add pool navigation elements
  client/css/pool-navigator-control.styl
  client/css/pool-navigator-list.styl
  client/html/pool_navigator.tpl
  client/html/pool_navigator_list.tpl
  client/html/post_main.tpl
  client/js/controllers/post_main_controller.js
  client/js/controls/pool_navigator_control.js
  client/js/controls/pool_navigator_list_control.js
  client/js/models/post_list.js
  client/js/views/post_main_view.js
Due: docker-build-client

client: add missing import
  client/js/views/post_main_view.js
Due: docker-build-client

client: fix some incorrect references
  client/js/controllers/post_main_controller.js
  client/js/controls/pool_navigator_list_control.js
  client/js/models/post_list.js
  client/js/views/post_main_view.js
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server, pytest

client: append missing child
  client/js/controls/pool_navigator_list_control.js
Due: docker-build-client

doc: properly name API elements
  doc/API.md
Due: none

server/tests: add some tests
  server/szurubooru/tests/api/test_post_retrieving.py
Due: docker-build-server, pytest

server/tests: add necessary privilege to fixture
  server/szurubooru/tests/api/test_post_retrieving.py
Due: docker-build-server, pytest

client/pools: thumbnail view in pool list
  client/css/pool-list-view.styl
  client/html/pools_page.tpl
  client/js/controllers/pool_list_controller.js
Due: docker-build-client

client/pools: thumbnail hover animation and thinner focus outline Update stylus for :has support
  client/css/pool-list-view.styl
  client/package-lock.json
  client/package.json
Due: docker-build-client

server/search: support sorting post search results by pool post order
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/configs/util.py
  server/szurubooru/search/executor.py
  server/szurubooru/search/typing.py
  server/szurubooru/tests/search/configs/test_post_search_config.py
Due: docker-build-server, pytest

client/pools: stacked thumbnail appearance for pool list page
  client/css/pool-list-view.styl
  client/html/pools_page.tpl
  client/js/util/views.js
Due: docker-build-client

client/css: use zoomed-in thumbnails for pools
  client/css/pool-list-view.styl
Due: docker-build-client

client/pool_navigator: respect 'display underscores as spaces' setting
  client/html/pool_navigator.tpl
  client/js/controls/pool_navigator_control.js
Due: docker-build-client

client/pools: expand animation
  client/css/pool-list-view.styl
Due: docker-build-client

client/help: document sort:pool
  client/html/help_search_posts.tpl
Due: docker-build-client

server/search: allow negating sort:pool
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/executor.py
Due: docker-build-server, pytest

client/pools: sort by negated pool order by default
  client/html/pool_delete.tpl
  client/html/pool_summary.tpl
Due: docker-build-client

client/posts: replace main navigation with pool navigation when in pool
  client/js/controllers/post_main_controller.js
Due: docker-build-client

client/posts: remove unavailable first and last links in pool navigator
  client/html/pool_navigator.tpl
Due: docker-build-client

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
  pytest: any of: server/szurubooru/ and \.py$ and not (server/szurubooru/migrations/) and not (LICENSE.md)
