Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

docker-build-client:
  name: Docker - build client
  entry: bash -c 'docker build client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
  language: system
  pass_filenames: false
  stages:
  - push

Draft new fixes
  server/szurubooru/func/file_uploads.py
  server/szurubooru/rest/app.py
  server/szurubooru/rest/context.py
Due: docker-build-server, pytest

Blocklist: Fix already existing tests following modifications for blocklist
  server/szurubooru/tests/api/test_info.py
  server/szurubooru/tests/api/test_user_creating.py
  server/szurubooru/tests/api/test_user_updating.py
  server/szurubooru/tests/conftest.py
  server/szurubooru/tests/func/test_users.py
Due: docker-build-server, pytest

Blocklist: Add test drafts and required elements for future blocklist-related tests
  server/szurubooru/tests/api/test_post_blocklist.py
  server/szurubooru/tests/conftest.py
Due: docker-build-server, pytest

server: parallelize tests
  scripts/run-server-tests.sh
  server/Dockerfile
  server/dev-requirements.txt
  server/szurubooru/tests/func/test_user_tokens.py
Due: docker-build-server, pytest

server/net: support outbound socks/http proxies
  server/Dockerfile
  server/config.yaml.dist
  server/requirements.txt
  server/szurubooru/func/net.py
Due: docker-build-server, pytest

handle SOCKS errors
  server/szurubooru/func/net.py
Due: docker-build-server, pytest

Dockerfile: support 3.8 in python requests version
  server/Dockerfile
  server/requirements.txt
Due: docker-build-server

add noscript message
  client/html/index.htm
Due: docker-build-client

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
  pytest: any of: server/szurubooru/ and \.py$ and not (server/szurubooru/migrations/) and not (LICENSE.md)
