Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: mixed-line-ending

-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
    -   id: remove-tabs

-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        files: 'server/'
        types: [python]
        language_version: python3.8

-   repo: https://github.com/timothycrosley/isort
    rev: '5.4.2'
    hooks:
    -   id: isort
        files: 'server/'
        types: [python]
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/prettier/prettier
    rev: '2.1.1'
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.8.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.3'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c 'docker build client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        stages: [push]

    -   id: pytest-cov
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) --cov-report=term-missing:skip-covered --cov=szurubooru szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        verbose: true
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

server/images: remove dead code
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

server/szuru-admin: fix thumbnail regeneration
  server/szuru-admin
Due: docker-build-server

client/css: revert unrelated changes accidentally committed fixes b971c966c868002f6195806c05e4e8cd2dcb46d1
  client/css/core-general.styl
Due: docker-build-client

client/css: revert accidental style removal fixes 4b6b231fc809b173f7f619563589e4eed77d35c2
  client/css/post-main-view.styl
Due: docker-build-client

client/markdown: add tag to show favicon alongside URL
  client/html/help_comments.tpl
  client/js/util/markdown.js
Due: docker-build-client

update readme, gitignore
  .gitignore
  README.md
Due: none

update build containers to point to deka repo
  .github/workflows/build-containers.yml
Due: none

more pointing at deka repo
  client/package.json
  doc/INSTALL.md
  doc/install.sh
  docker-compose.yml
Due: docker-build-client

upgrade docker login option
  .github/workflows/build-containers.yml
Due: none

just testing tempfile
  temp-file-delete
Due: none

pushing update to see if temp-file deletion works with wf
  temp-file-delete
Due: none

server/comments: allow anonymous users to leave comments
  client/html/comment.tpl
  server/szurubooru/api/comment_api.py
  server/szurubooru/model/comment.py
Due: docker-build-client, docker-build-server, pytest

server/posts: allow anonymous users to feature posts
  server/szurubooru/func/posts.py
  server/szurubooru/func/users.py
  server/szurubooru/migrations/versions/5b5c940b4e78_make_featuring_users_nullable.py
  server/szurubooru/model/post.py
Due: docker-build-server, pytest

server/snapshots: treat invalid users as anonymous Fixes the crash described in #682
  server/szurubooru/func/snapshots.py
Due: docker-build-server, pytest

client/posts: preload nearby posts for snappier browsing
  client/js/controllers/post_main_controller.js
  client/js/models/post.js
  client/js/models/post_list.js
  client/js/util/misc.js
Due: docker-build-client

client/api: don't call progress.done() on noProgress requests It would cause the progress bar to disappear completely, and not render anymore after any noProgress request.
  client/js/api.js
Due: docker-build-client

client: replace deprecated KeyboardEvent.which with KeyboardEvent.key Also fixes moving notes by arrow keys.
  client/js/controls/auto_complete_control.js
  client/js/controls/file_dropper_control.js
  client/js/controls/pool_input_control.js
  client/js/controls/post_notes_overlay_control.js
  client/js/controls/tag_input_control.js
  client/js/router.js
  client/js/views/post_merge_view.js
Due: docker-build-client

server/rest: unescape percent-encoded route parameters for routes that address things by name instead of ID, e.g. /tag/tagname, where we allow special characters, we need to unescape the values.
  server/szurubooru/rest/app.py
Due: docker-build-server, pytest

server/tags: prevent creation of "." and ".." tags cf. #521 Previously this check was only done on the client. The API operates on tag slugs, and these special strings cause issues with web servers.
  server/szurubooru/func/tags.py
Due: docker-build-server, pytest

server: properly enforce validation regex cf. #669 Previously it would incorrectly allow strings with a trailing newline. >>> re.match(r"^\S+$", "test\n") <re.Match object; span=(0, 4), match='test'>
  server/szurubooru/func/pool_categories.py
  server/szurubooru/func/pools.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/func/tags.py
  server/szurubooru/func/users.py
  server/szurubooru/func/util.py
  server/szurubooru/search/parser.py
Due: docker-build-server, pytest

client/search: autocomplete negated tags in search fields This doesn't apply to tag inputs that aren't for searching, like the tag input box when editing a post.
  client/js/controls/auto_complete_control.js
  client/js/controls/pool_auto_complete_control.js
  client/js/controls/tag_auto_complete_control.js
  client/js/controls/tag_input_control.js
  client/js/views/home_view.js
  client/js/views/posts_header_view.js
Due: docker-build-client

client/pools: don't flash progress for pool name autocomplete
  client/js/controllers/pool_list_controller.js
  client/js/controls/pool_auto_complete_control.js
  client/js/models/pool_list.js
Due: docker-build-client

client/search: make autocomplete replace current word and set cursor pos Better behavior for autocomplete in the middle of an already typed tag.
  client/js/controls/auto_complete_control.js
Due: docker-build-client

client/tags: don't flash progress for tag autocomplete
  client/js/controllers/tag_list_controller.js
  client/js/controls/tag_auto_complete_control.js
  client/js/models/tag_list.js
Due: docker-build-client

client/css: disable color transitions in tag autocomplete
  client/css/core-forms.styl
Due: docker-build-client

client/misc: add matchingNames function and fall back to partial matches
  client/js/controls/pool_auto_complete_control.js
  client/js/controls/tag_auto_complete_control.js
  client/js/util/misc.js
Due: docker-build-client

server: replace pillow-avif-plugin, pyheif, heif-image-plugin with pillow-heif, bump alpine version to v3.22
  server/Dockerfile
  server/requirements.txt
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

Draft using already uploaded files instead of loading them into memory and then into temp files
  server/szurubooru/api/post_api.py
  server/szurubooru/func/file_uploads.py
  server/szurubooru/func/files.py
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
  server/szurubooru/func/mime.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/util.py
  server/szurubooru/rest/context.py
Due: docker-build-server, pytest

Fix mime reading wrong file path and update tests on signatures
  server/szurubooru/func/files.py
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
  server/szurubooru/func/mime.py
  server/szurubooru/func/util.py
  server/szurubooru/tests/api/test_post_creating.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-server, pytest

Fix get_content_size using leftover code from a previous try
  server/szurubooru/func/files.py
  server/szurubooru/func/util.py
Due: docker-build-server, pytest

Fix _execute not using full path
  server/szurubooru/func/files.py
  server/szurubooru/func/images.py
Due: docker-build-server, pytest
