Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: mixed-line-ending

-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
    -   id: remove-tabs

-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        files: 'server/'
        types: [python]
        language_version: python3.8

-   repo: https://github.com/timothycrosley/isort
    rev: '5.4.2'
    hooks:
    -   id: isort
        files: 'server/'
        types: [python]
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/prettier/prettier
    rev: '2.1.1'
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.8.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.3'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c 'docker build client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        stages: [push]

    -   id: pytest-cov
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) --cov-report=term-missing:skip-covered --cov=szurubooru szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        verbose: true
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

client/upload: restore video previews
  client/css/post-upload.styl
Due: docker-build-client

server: Add required dependencies to Dockerfile
  server/Dockerfile
Due: docker-build-server

server/net: add support for gallery-dl It is tried first, and falls back to yt-dlp.
  server/Dockerfile
  server/pyproject.toml
  server/requirements.txt
  server/szurubooru/api/post_api.py
  server/szurubooru/api/upload_api.py
  server/szurubooru/func/net.py
  server/szurubooru/rest/context.py
  server/szurubooru/tests/api/test_post_creating.py
  server/szurubooru/tests/api/test_post_updating.py
  server/szurubooru/tests/func/test_net.py
  server/szurubooru/tests/rest/test_context.py
Due: docker-build-server, pytest

client/css: make broken thumbnails in search take up the same area To preserve the "right-click to save" behavior
  client/css/core-general.styl
Due: docker-build-client

server/szuru-admin: update thumbnail regeneration script
  server/szuru-admin
Due: docker-build-server

server/posts: prepend thumbnail filenames with 'sample_'
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server/posts: update tests for thumbnail rework
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-server, pytest

server/images: restore ffmepg swf handling
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

server/users: disable transparency and seeking on user avatars
  server/szurubooru/func/users.py
Due: docker-build-server, pytest

client: remove unused function
  client/js/main.js
Due: docker-build-client

server: docker setup for embeds, sharing client's /var/www to the server
  docker-compose.yml
  server/config.yaml.dist
  server/szurubooru/api/embed_api.py
Due: docker-build-server, pytest

server: docker port exposure fix for embeds
  doc/example.env
Due: none

client/css: outline around post relations
  client/css/post-main-view.styl
Due: docker-build-client

client/comments: prevent avatar focus outline from being clipped
  client/css/comment-control.styl
Due: docker-build-client

client/css: gray out disabled radio button circle
  client/css/core-forms.styl
Due: docker-build-client

client/css: space out similar posts on upload page
  client/css/post-upload.styl
Due: docker-build-client

client/css: use text color for home footer bullets
  client/css/home-view.styl
Due: docker-build-client

client/notes: remove interaction with main overlay area Right click Copy would not work on Chrome and Firefox. Right click Save would not work on Firefox.
  client/css/post-notes-overlay-control.styl
  client/html/post_content.tpl
Due: docker-build-client

client/pools, client/tags: move description before details
  client/html/pool_summary.tpl
  client/html/tag_summary.tpl
Due: docker-build-client

client/pools, client/tags: obvious button to access posts list
  client/css/core-general.styl
  client/html/pool.tpl
  client/html/tag.tpl
Due: docker-build-client

client/pools: display error message on merge page when no pool selected Also fixes a js error.
  client/js/views/pool_merge_view.js
Due: docker-build-client

client/posts: better drag alt text on chrome
  client/html/posts_page.tpl
Due: docker-build-client

client/posts: don't crash on edit mode when no permissions
  client/js/controls/post_edit_sidebar_control.js
Due: docker-build-client

client/posts: force file download for download button So that it works regardless of server configuration.
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

client/posts: hide edit icon when unprivileged
  client/html/post_main.tpl
Due: docker-build-client

client/posts: page exit confirmation for bulk edit actions
  client/js/views/posts_header_view.js
Due: docker-build-client

client/posts: redirect away from /edit when no post edit permissions
  client/js/controllers/post_main_controller.js
Due: docker-build-client

client/posts: filter out empty post source lines
  client/js/models/post.js
Due: docker-build-client

client/snapshots: display pool name
  client/html/snapshots_page.tpl
  client/js/views/snapshots_page_view.js
Due: docker-build-client

client/upload: check "Add relation" box by default
  client/html/post_upload_row.tpl
Due: docker-build-client

client/users: default user icon to site favicon for anonymous uploads
  client/js/util/views.js
Due: docker-build-client

client/views: prevent errors on slow connections
  client/js/util/views.js
Due: docker-build-client

client: add more keybinds, prevent typing when focusing input
  client/html/help_keyboard.tpl
  client/js/controls/post_edit_sidebar_control.js
  client/js/util/keyboard.js
  client/js/util/search.js
Due: docker-build-client

client: apply dark theme without a page reload I'm really confused why the user was expected to reload the page, there's no technical reason that I can find for it to be this way.
  client/html/settings.tpl
  client/js/models/settings.js
Due: docker-build-client

client: apply theme as soon as possible Fixes the default theme flashing on reload
  client/js/main.js
Due: docker-build-client

client: fix displaying 0 in number inputs
  client/js/util/views.js
Due: docker-build-client

client: fix weird Chrome bug where video controls are invisible under div class="transparent"
  client/css/core-general.styl
  client/html/home.tpl
  client/html/post_main.tpl
Due: docker-build-client

server/posts: more thorough error exception
  server/szurubooru/api/post_api.py
Due: docker-build-server, pytest

server/search: add safety search synonyms
  server/szurubooru/search/configs/post_search_config.py
Due: docker-build-server, pytest

server/upload: disable default loop flag for videos, detect gif loop
  server/szurubooru/func/images.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest
