Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml

-   repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        files: server/szurubooru/
        language_version: python3.8

-   repo: https://github.com/timothycrosley/isort
    rev: '4.3.21-2'
    hooks:
    -   id: isort
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/prettier/prettier
    rev: '2.0.5'
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.1.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.2'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c 'docker build client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false

    -   id: pytest-cov
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) --cov-report=term-missing:skip-covered --cov=szurubooru szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        verbose: true
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

client/html: fixed pool summary view
  client/html/pool_summary.tpl
Due: docker-build-client

client/html: hide 'pools' in navbar if user doesn't have privileges
  client/js/controllers/top_navigation_controller.js
Due: docker-build-client

client/html: fix upload error when pool input is disabled
  client/js/controls/post_edit_sidebar_control.js
Due: docker-build-client

client/pools: inherit option to show underscores as spaces
  client/html/pool.tpl
  client/html/post_readonly_sidebar.tpl
  client/html/settings.tpl
  client/html/tag.tpl
  client/js/controls/post_readonly_sidebar_control.js
  client/js/util/misc.js
  client/js/util/views.js
  client/js/views/pool_view.js
  client/js/views/settings_view.js
  client/js/views/tag_view.js
Due: docker-build-client

client/build: fix npm audit
  client/build.js
  client/package-lock.json
  client/package.json
Due: docker-build-client

client/markdown: use DOMPurify over marked.js sanitizer
  client/build.js
  client/js/util/markdown.js
  client/package-lock.json
  client/package.json
Due: docker-build-client

client/css: make add/remove button for mass tag larger
  client/css/post-list-view.styl
Due: docker-build-client

client css: snapshot-list-view: use alpha for dark
  client/css/snapshots-list-view.styl
Due: docker-build-client

Render recaptcha on registration page
  client/html/index.htm
  client/html/user_registration.tpl
  client/js/views/registration_view.js
Due: docker-build-client

Only show recaptcha for anonymous users, send token to API
  client/js/controllers/user_registration_controller.js
  client/js/models/user.js
  client/js/views/registration_view.js
Due: docker-build-client

Get recaptcha token via callback
  client/js/views/registration_view.js
Due: docker-build-client

Check recaptcha response from google API
  server/szurubooru/api/user_api.py
Due: docker-build-server, pytest

Add recaptcha_secret to config
  server/config.yaml.dist
Due: docker-build-server

Install requests library
  server/Dockerfile
  server/requirements.txt
Due: docker-build-server

Add config for enabling/disabling recaptcha
  client/html/user_registration.tpl
  client/js/api.js
  client/js/views/registration_view.js
  server/config.yaml.dist
  server/szurubooru/api/info_api.py
  server/szurubooru/api/user_api.py
Due: docker-build-client, docker-build-server, pytest

Add recaptcha site key config
  client/js/api.js
  client/js/views/registration_view.js
  server/config.yaml.dist
  server/szurubooru/api/info_api.py
Due: docker-build-client, docker-build-server, pytest

Refactor recaptchaEnabled
  client/js/api.js
  client/js/models/user.js
  client/js/views/registration_view.js
Due: docker-build-client

Fix recaptcha check
  client/js/views/registration_view.js
Due: docker-build-client

client/js/views: fix pool links for deleted pools
  client/js/util/views.js
Due: docker-build-client

client/css/snapshot-list-view: use alpha for dark
  client/css/snapshots-list-view.styl
Due: docker-build-client

doc/developer-utils: added helper script for easily creating szurubooru migrations
  doc/developer-utils/create-alembic-migration.sh
Due: none

server: API support for webhooks
  doc/API.md
  server/config.yaml.dist
  server/szurubooru/facade.py
  server/szurubooru/func/net.py
  server/szurubooru/func/snapshots.py
  server/szurubooru/tests/api/test_pool_category_updating.py
  server/szurubooru/tests/api/test_pool_creating.py
  server/szurubooru/tests/api/test_pool_deleting.py
  server/szurubooru/tests/api/test_post_creating.py
  server/szurubooru/tests/api/test_post_featuring.py
  server/szurubooru/tests/api/test_tag_category_updating.py
  server/szurubooru/tests/api/test_tag_creating.py
  server/szurubooru/tests/api/test_tag_deleting.py
  server/szurubooru/tests/func/test_net.py
  server/szurubooru/tests/func/test_snapshots.py
Due: docker-build-server, pytest

Initial commit, not complete
  client/html/post_readonly_sidebar.tpl
  client/js/controllers/post_upload_controller.js
  client/js/models/post.js
  client/js/views/post_upload_view.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/336a76ec1338_create_post_tables.py
  server/szurubooru/model/post.py
Due: docker-build-client, docker-build-server, pytest

client/search: fix autocomplete for composite queries
  client/js/controls/auto_complete_control.js
Due: docker-build-client

Fixed the "error setting get-only" error
  client/js/models/post.js
Due: docker-build-client

Fixed flmt being the same as creation time
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

Polished sidebar UI
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

dev/pre-commit: move pytest hook to 'push' stage
  .pre-commit-config.yaml
Due: none

client/posts: add tag implications when autocompleting mass tag inputs
  client/css/post-list-view.styl
  client/js/views/posts_header_view.js
Due: docker-build-client

pre-commit stuff and and pytest updates
  client/js/models/post.js
  client/js/views/post_upload_view.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/tests/conftest.py
  server/szurubooru/tests/func/test_posts.py
  server/szurubooru/tests/model/test_post.py
Due: docker-build-client, docker-build-server, pytest

Implement flmt default to creationdate if URL
  client/js/controllers/post_upload_controller.js
  server/szurubooru/api/post_api.py
Due: docker-build-client, docker-build-server, pytest

Implement sorting by flmt
  server/szurubooru/search/configs/post_search_config.py
Due: docker-build-server, pytest

Added to tests
  server/szurubooru/tests/search/configs/test_post_search_config.py
Due: docker-build-server, pytest

Updated and polished documentation
  client/html/help_search_posts.tpl
  doc/API.md
Due: docker-build-client

Implement flmt updating as content is updated
  server/szurubooru/api/post_api.py
Due: docker-build-server, pytest

Add alembic migration script template (template not filled)
  server/szurubooru/migrations/versions/46c358b0ca93_add_file_last_modified_time.py
Due: docker-build-server

client/css: implement dark theme option
  client/css/colors.styl
  client/css/comment-control.styl
  client/css/comment-list-view.styl
  client/css/core-forms.styl
  client/css/core-general.styl
  client/css/expander-control.styl
  client/css/pager.styl
  client/css/pool-input-control.styl
  client/css/pool-list-view.styl
  client/css/post-upload.styl
  client/css/snapshots-list-view.styl
  client/css/tag-input-control.styl
  client/css/tag-list-view.styl
  client/css/user-list-view.styl
  client/html/settings.tpl
  client/js/main.js
  client/js/models/settings.js
  client/js/views/settings_view.js
Due: docker-build-client

docker: add support for arm64, ppc64le, s390x, i386, armv7, armv6
  .pre-commit-config.yaml
  client/Dockerfile
  client/hooks/build
  client/hooks/pre_build
  server/hooks/build
  server/hooks/pre_build
Due: docker-build-client, docker-build-server

docker/build: add qemu installation to build hook
  client/hooks/pre_build
  server/hooks/pre_build
Due: docker-build-client, docker-build-server
