Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: mixed-line-ending

-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
    -   id: remove-tabs

-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        files: 'server/'
        types: [python]
        language_version: python3.8

-   repo: https://github.com/timothycrosley/isort
    rev: '5.4.2'
    hooks:
    -   id: isort
        files: 'server/'
        types: [python]
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/prettier/prettier
    rev: '2.1.1'
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.8.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.3'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c 'docker build client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        stages: [push]

    -   id: pytest-cov
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build --target testing -q server/) --cov-report=term-missing:skip-covered --cov=szurubooru szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        verbose: true
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

client/css: pool navigator styling
  client/css/pool-navigator-control.styl
Due: docker-build-client

client/posts: use correct pool's posts when overriding navigation We were always using the first pool the current post belongs to.
  client/js/controllers/post_main_controller.js
Due: docker-build-client

client/css: fix pool thumbnail animations and outline on firefox
  client/css/pool-list-view.styl
Due: docker-build-client

client/pools: fix empty pool thumbnail display
  client/css/pool-list-view.styl
Due: docker-build-client

client/api: do a single info api call Initial calls to api.fetchConfig() in quick succession would launch multiple requests. This should be implemented in Info tbh not outside of it.
  client/js/api.js
  client/js/controllers/home_controller.js
Due: docker-build-client

server: add tagme flag on upload, clear on edit To easily filter through posts that haven't been retagged since initial upload.
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/model/post.py
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/tests/api/test_post_creating.py
  server/szurubooru/tests/api/test_post_updating.py
Due: docker-build-server, pytest

server/pools: add field for retrieving only the first 3 posts
  server/szurubooru/func/pools.py
Due: docker-build-server, pytest

server/tests: fix nearby pool posts tests
  server/szurubooru/tests/api/test_post_retrieving.py
Due: docker-build-server, pytest

client/posts: split query by any whitespace
  client/js/controllers/post_main_controller.js
Due: docker-build-client

client, server: merge nearby pool posts into regular post serialization Can still be cleaned up some more. Need to compare speed of the get_around query vs nearby pool posts.
  client/js/controllers/post_main_controller.js
  client/js/controls/pool_navigator_control.js
  client/js/controls/pool_navigator_list_control.js
  client/js/models/pool.js
  client/js/models/post_list.js
  client/js/views/post_main_view.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server, pytest

client/css: pool thumbnail outline Same as posts in search results.
  client/css/pool-list-view.styl
Due: docker-build-client

server/tests: fix sort:pool test indentation
  server/szurubooru/tests/search/configs/test_post_search_config.py
Due: docker-build-server, pytest

client/pools: remove broken selector
  client/js/views/pool_create_view.js
Due: docker-build-client

client/css: add missing variable for pool categories page
  client/css/colors.styl
Due: docker-build-client

client/pools: use cheaper pool post listing for unprivileged users
  client/js/controllers/pool_list_controller.js
  client/js/models/pool.js
Due: docker-build-client

server/tests: fix post serialization tests
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-server, pytest

client/css: remove semicolons
  client/css/pool-list-view.styl
  client/css/pool-navigator-control.styl
Due: docker-build-client

client/css: remove semicolons
  client/css/core-general.styl
  client/css/post-list-view.styl
  client/css/post-upload.styl
  client/css/user-view.styl
Due: docker-build-client

client/pools: prioritize loading of first thumbnail
  client/js/util/views.js
Due: docker-build-client

client/posts: check reverse search permissions cf. #424
  client/js/models/post.js
Due: docker-build-client

server/snapshots: treat invalid users as anonymous Fixes the crash described in #682
  server/szurubooru/func/snapshots.py
Due: docker-build-server, pytest

server/posts: allow anonymous users to feature posts
  server/szurubooru/func/posts.py
  server/szurubooru/func/users.py
  server/szurubooru/migrations/versions/5b5c940b4e78_make_featuring_users_nullable.py
  server/szurubooru/model/post.py
Due: docker-build-server, pytest

server/comments: allow anonymous users to leave comments
  client/html/comment.tpl
  server/szurubooru/api/comment_api.py
  server/szurubooru/model/comment.py
Due: docker-build-client, docker-build-server, pytest

client/markdown: add tag to show favicon alongside URL
  client/html/help_comments.tpl
  client/js/util/markdown.js
Due: docker-build-client

server-specific changes
  client/img/app.png
  client/img/favicon.png
  client/img/splash.png
  docker-compose.yml
Due: docker-build-client

build: setup docker-compose.dev.yml dev iteration
  client/.dockerignore
  client/Dockerfile
  client/build.js
  client/docker-start-dev.sh
  client/docker-start.sh
  client/js/main.js
  docker-compose.dev.yml
  server/Dockerfile
  server/docker-start-dev.sh
Due: docker-build-client, docker-build-server

client/markdown.js: remove unused/wrong header preprocessing
  client/js/util/markdown.js
Due: docker-build-client

client/markdown.js: improve regexes in entity permalinks
  client/js/util/markdown.js
Due: docker-build-client

client/markdown.js: add wiki permalink for usage in tag descriptions
  client/html/help_comments.tpl
  client/js/util/markdown.js
Due: docker-build-client

client/markdown: disable header IDs No one should be able to create elements with arbitrary IDs, it has the potential to mess with both JS and CSS.
  client/js/util/markdown.js
Due: docker-build-client

client/markdown.js: use getPrettyName to format tag and wiki permalinks
  client/js/util/markdown.js
  client/js/util/misc.js
Due: docker-build-client

client/markdown.js: fix FaviconWrapper replace
  client/js/util/markdown.js
Due: docker-build-client

client/markdown.js: update entity regex and fix link mangling due to wiki permalinks
  client/js/util/markdown.js
Due: docker-build-client

client/comments: reveal spoilers with focused content, style links & img
  client/css/comment-control.styl
Due: docker-build-client

server: clean up mozjpeg Docker install
  server/Dockerfile
Due: docker-build-server

server/images: support other command line programs
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

server: ruffle exporter Docker install
  server/Dockerfile
Due: docker-build-server

server/images: check for flash filetype ourselves ffprobe fails on some swf files and blocks uploading
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

server/images: fix resize_fill typing
  server/szurubooru/func/images.py
Due: docker-build-server, pytest
